<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
  <title>Wordhub</title>

  <link rel="shortcut icon"
      href="/images/favicon.ico">

  <link rel="stylesheet" href="/styles/main.css" />

  <script>
    window.__SERIALIZED_INITIAL_STATE__ = '<%- serializedInitialState %>';
  </script>

</head>

<body>
  <div id="app"><%- componentHTML %></div>

  <script src="/scripts/app.js"></script>

  <% if (process.env.NODE_ENV !== 'production') { %>
    <script>
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
      ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
  <% } %>
</body>

</html>
