{
  "env": {
    "node": {
      "plugins": [
        "transform-async-to-generator",
        "transform-class-properties",
        "transform-es2015-destructuring",
        "transform-es2015-parameters",
        "transform-object-rest-spread",
        "transform-es2015-modules-commonjs",
        "transform-runtime"
      ],
      "presets": [
        "react"
      ]
    },
    "browser": {
      "plugins": [
        "transform-async-to-generator",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-runtime"
      ],
      "presets": [
        "es2015",
        "react"
      ]
    }
  }
}
