*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

body {
  -webkit-overflow-scrolling: touch;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  touch-action: manipulation;
}
