.flashcard-list__date {
  @extend .lead;
  margin: 0;
}

.flashcard-list__flashcard {
  @include elements__flashcard;

  &.flashcard-list__flashcard--learned {
    color: $universal-green;
    background-color: $background-green;
  }
}

.flashcard-list__flashcard__side {
  position: relative;

  &:not(:first-child) {
    margin-top: 40px;
    &:before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: white;
    }
  }
}

.flashcard-list__deleted-alert {
  @extend .alert;
  @extend .alert-info;
  @extend .alert-dismissible;
}

.flashcard-list__deleted-alert__undo {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.flashcard-list__deleted-alert__close {
  @extend .close;
}

.flashcard-list__no-flashcards-text {
  @extend .lead;
}