.flashcard-list__search-form-container {
  @extend .clearfix;
}

.flashcard-list__search-form {
  @extend .col-md-4, .pull-right;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
}

.flashcard-list__search-form--with-bottom-margin {
  margin-bottom: 20px;
}

.flashcard-list__search-form__form-group {
  @extend .form-group;
}

.flashcard-list__search-form__input-group {
  @extend .input-group;
}

.flashcard-list__search-form__label {
  @extend .input-group-addon;
}

.flashcard-list__search-form__input {
  @extend .form-control;
}

.flashcard-list__date {
  @extend .lead;
  margin: 0;
}

.flashcard-list__flashcard {
  @include elements__flashcard;

  &.flashcard-list__flashcard--learned {
    color: $universal-green;
    background-color: $background-green;
  }
}

.flashcard-list__flashcard__side {
  position: relative;

  &:not(:first-child) {
    margin-top: 40px;
    &:before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: white;
    }
  }
}

.flashcard-list__deleted-alert {
  @extend .alert;
  @extend .alert-info;
  @extend .alert-dismissible;
}

.flashcard-list__deleted-alert__undo {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.flashcard-list__deleted-alert__close {
  @extend .close;
}

.flashcard-list__no-flashcards-text {
  @extend .lead;
}
